<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.auto.dao.MenuAndResourceMapper" >
  <resultMap id="BaseResultMap" type="com.auto.entity.MenuAndResource" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="menu_id" property="menuId" jdbcType="BIGINT" />
    <result column="resource_id" property="resourceId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menu_id, resource_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from menu_and_resource
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from menu_and_resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.auto.entity.MenuAndResource" >
    insert into menu_and_resource (id, menu_id, resource_id
      )
    values (#{id,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT}, #{resourceId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.auto.entity.MenuAndResource" >
    insert into menu_and_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="resourceId != null" >
        resource_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.auto.entity.MenuAndResource" >
    update menu_and_resource
    <set >
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null" >
        resource_id = #{resourceId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.auto.entity.MenuAndResource" >
    update menu_and_resource
    set menu_id = #{menuId,jdbcType=BIGINT},
      resource_id = #{resourceId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>